a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 450px;
  margin: 0 auto;
  padding: 0 15px;
}

.link-container {
  margin-bottom: 10px;
  list-style: none;
}

.link-container a {
  color: #0887a7;
  text-transform: uppercase;
}

.image-container {
  max-width: 1200px;
  margin: 40px auto;
  text-align: center;
}
